

# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
cranach-timeline-code/client/node_modules/cranach-timeline-code/server/node_modules/
/.pnp
.pnp.js

# testing
cranach-timeline-code/client/coverage

# production
cranach-timeline-code/client/build/

cranach-timeline-code/client/package-lock.json
